body {
  background-color: #f6f2ef;
  font-family: lora;
  background-image: url(/asset/images/landing_page.png);
  background-size: cover;
}

header {
  background-color: #2f3b3b;

  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  font-size: 16px;
  list-style-type: none;
  display: flex;
  margin: 280px;
}

nav a {
  color: #a27b5c;
  padding: 6em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: "Almendra";
  font-size: 60px;
  color: #2f3b3b;
  margin: 80px;
}

section p {
  width: 900px;
  height: 200px;
  border: solid;
  border-radius: 10px;
  border-color: #7a5c45;
  background-color: #e2d6cc;
  color: #7a5c45;
  padding: 20px;
}

footer {
  background-color: #2f3b3b;
  color: #a27b5c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connexion {
  background-color: #e2d6cc;
  color: #392b20;
  text-align: center;
  border: solid 1px #a27b5c;
  border-radius: 10px;
  height: 30px;
  width: 120px;
  margin-right: 50px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: absolute;
  height: 160px;
  width: 160px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.button {
  background-color: #a27b5c;
  color: #f6f2ef;
  border: solid 1px #392b20;
  border-radius: 10px;
  vertical-align: middle;
  height: 40px;
  width: 130px;
  margin: 10px;
}

#buttons {
  display: flex;
  flex-direction: column;
}
